@namespace url(http://www.w3.org/1999/xhtml);

@-moz-document domain("forums.whirlpool.net.au") {
	@media only screen and (max-width:1168px) {
		body.not_mobile #replylist div.reply {
			min-height:150px;
		}
		body.not_mobile #replylist div.reply div.replytools {
			right:auto;
				top:50%;
			left:0;
				background-image: none;
		}
		body.not_mobile #replylist div.reply div.replyuser {
			bottom:50%;
		}
		body.not_mobile #replylist div.reply div.replytext {
			margin-right:10px;
		}

		body.not_mobile #left:hover {
			z-index: 11;
		}
		body.not_mobile #left {
			position: fixed;
			top: 0;
		}
		body.not_mobile #content {
			z-index:10;
			margin-left: 0.5em;
		}
		body.not_mobile #logo,
		body.not_mobile #logosub {
			display: none;
		}
	}
	@media only screen and (max-width:600px) {
		body.not_mobile .replymeta {
			overflow: auto;
		}
		body.not_mobile #replylist div.reply div.replyuser,
		body.not_mobile #replylist div.reply div.replytools {
			position: relative;
			display:block;
			width: 100%;
			box-sizing: border-box;
			-moz-box-sizing: border-box;
			float:left;
		}
		body.not_mobile #replylist div.reply div.replytools div.replytools-inner {
			position:relative;
			padding: 0;
		}
		body.not_mobile #replylist div.reply div.replytext {
			margin:10px;
		}
		body.not_mobile #replylist div.reply div.replyuser div.replyuser-inner > div,
		body.not_mobile #replylist div.reply div.replytools div.replytools-inner > div {
			display: inline-block;
		}
		body.not_mobile #replylist div.reply div.replyuser div.replyuser-inner .userstats,
		body.not_mobile #replylist div.reply div.replyuser div.replyuser-inner .usergroup,
		body.not_mobile #replylist div.reply div.replyuser div.replyuser-inner .quip,
		body.not_mobile #replylist div.reply div.replytools div.replytools-inner .shortcode
		{
			display: none;
		}
	}
}