@namespace url(http://www.w3.org/1999/xhtml);

@-moz-document domain("forums.whirlpool.net.au") {
	#replyformBlock,#fm,#fm:after,#previewBlock {
		box-sizing: border-box;
		position: fixed !important;
		bottom: 0;
		z-index: 999;
		height: 300px;
	}
	#replyformBlock {
		top:0;
		height:0;
		background: transparent !important;
  		padding: 1px !important; /* if it's 0px, the replyformBlock is not(:visible), so preview doesn't run! ugh */
  		border: 0 !important;
	}
	#fm {
		left: 0;
		width: 70%;
		background-image: linear-gradient(hsl(0, 0%, 84%) 0px, hsl(0, 0%, 80%) 90px);
		padding: 10px;
	}
	#previewBlock {
		right: 0;
		width: 30%;
	}
	#replyformBlock textarea {
		height: 200px !important;
		overflow: auto !important;
	}
	#previewBlock .replytext {
		overflow: scroll;
		margin-right: 0 !important;
		margin-left: 0px !important;
		padding-left: 10px;
		padding-right: 10px;
		max-height: 100%;
		
	}
	#previewBlock .replytools {
		display: none;
	}
	#previewBlock .replyuser {
		display: none;
	}

	/* sub-categories to the right */
	#threads .title .group {
		float: right;
	}

	#fm:after {
		content: '';
		display: block;
		right: 0;
		width: 30%;
		background: linear-gradient(hsl(0, 0%, 84%) 0px, hsl(0, 0%, 80%) 90px);
	}

	/* quotify tool */
	#replies + div {
		position: fixed;
		left: 10px;
		bottom: 200px;
		z-index: 999;
	}
	@media only screen and (max-width:990px) {
		#replyoptions {
			margin-top: -1em;
		}
		#replies + div {
			bottom: 275px;
			padding-left: 10%;
		}
		#replies + div > strong {
			display: none;
		}
		#cliptemp {
			width: 250px !important;
			height: 1em !important;
		}
	}
}