@-moz-document regexp(".*/(pull-requests|commits|compare).*") {
.addition pre.source, /* bitbucket */
.added.line,.added.line .stash-gutter-marker {
	background-color: palegreen !important;
}
.deletion pre.source, /* bitbucket */
.removed.line,
.removed.line .stash-gutter-marker{
	background-color: lightsalmon !important;
}
.added.line .ediff-add,
.added.line .ediff-change {
	background-color: limegreen !important;
}
.removed.line .ediff-change,
.removed.line .ediff-delete {
	background-color: tomato !important;
}
.line.conflict-marker,
.line.conflict-marker .stash-gutter-marker {
	background-color: khaki !important;
}
}

@-moz-document regexp(".*/pull-requests.*") {
           .filter-current-user tr.pull-request-row,
.filter-current-user-unactioned tr.pull-request-row {
	display: none;
}
tr.pull-request-row.current-user {
	display: table-row;
}
.filter-current-user-unactioned tr.pull-request-row.current-user.current-user-actioned {
	display: none;
}
}