.fb_iframe_widget iframe {
  display: none !important;
}
.fb_iframe_widget:hover iframe {
  display: block !important;
}
.fb_iframe_widget {
  position: relative;
  min-width: 10px;
  min-height: 10px;
}
.fb_iframe_widget:before {
  position: absolute;
  display: inline-block;
  content: "FB";
  background-color: #2A6EFF;
  color:white;
  padding: 2px 5px;
}